.site-header {
    width: 100%;
    padding: 10px 0;
    background-color: var(--backgroundPrimary);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__nav-link {
        position: relative;
        font-size: 20px;
        color: #fff;

        &::before {
            position: absolute;
            left: -25px;
            content: "";
        }

        &::after {
            position: absolute;
            right: 0;
            bottom: -7px;
            left: 0;
            margin: auto;
            width: 0;
            height: 3px;
            background-color: #080;
            transition: 0.5s linear;
            border-radius: 5px;
            content: "";
        }

        &.active {
            &::before {
                content: "🍝";
            }

            &::after {
                width: 80%;
            }
        }

        &:hover {
            &::after {
                width: 80%;
            }
        }
    }
}
